name: Publish Packages

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build packages
        run: pnpm build

      - name: Publish to pkg.pr.new
        run: pnpm dlx pkg-pr-new publish --comment=update './src' './plugins/eslint-plugin'
